body {
  margin: 0;
}
.leyout {
  display: flex;
  flex-direction: row;
}
.leyout > .leftsidebar {
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.226);
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  max-width: 250px;
  min-width: 150px;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0%;
}

.leyout > .leftsidebar > nav {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.leyout > .leftsidebar > nav > a {
  text-decoration: none;
  font-size: 20px;
  color:rgb(104, 104, 104);
}
.content {
  padding: 20px;
  width: 60%;
  height: 100vh;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 1; 
  overflow: auto;
  background-color: rgba(199, 199, 199, 0.356);
  
}
.card-section{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 12px;
  

}

.card-section > .card {
  background-color: rgba(255, 255, 255, 0.884) ;
  height: 120px;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 100px;
  color: rgb(117, 65, 65);

}